.taskContainer{
    
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    min-height: 30vh;
    width: 20vw;
    border-radius: .5rem;

}

.taskHeader{
    font-size: 1.5rem;
    font-weight: 500;
    color: #6558f5;
    text-align: center;
}